.main{
  margin-bottom: 10vh;
  --purple: rgb(36, 47, 206);
  --violet: rgb(209, 60, 214);
  --pink: rgb(224, 9, 80);
  --yellow: rgb(243, 222, 32);
  --blue: rgb(25, 110, 221);
  --lighterblue: rgb(0, 130, 252);
}

.container{
  position: relative;
  height: 300vh;
  background-color: rgb(255, 255, 255);
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/1amanimaskbobo.svg');
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

.stickyMask img{
  height: 90%;
  width: 95%;
  object-fit: cover;
}
.text{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.text > h1{
  margin-bottom: 3%;
}
.button{
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  width: 90%;
  height: 80px;
  transition: 0.3s ease;
  border-radius: 15px;
  margin-top: 2%;
  transform: translateX(4%);
}
.button:hover{
  background-color: rgb(44, 43, 43);
  scale: 0.97;
  transition: 0.3s ease;
  cursor: pointer;
}
.containerproj{
  position: relative;
  height: 20vh;
  background-color: rgb(32, 32, 32);
}
.mainproj{
  margin-bottom: 5vh;
  overflow-x: hidden;
}

.header{
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 80px;
  
}
.video{
  border-radius: 2%;
  width: 90%;
  height: 70%;
  margin-left: 3.7%;
  margin-top: 40px;
}
.magic{
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
